In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
ma_test_res = pd.read_pickle("ma_test_res.pkl")
all_trades = pd.read_pickle("all_crosses.pkl")

In [10]:
ma_test_res.head()

      symbol  num_trades  total_gain  mashort  malong    CROSS
0  PF_ADAUSD         590    -0.17221        4       8   MA_4_8
1  PF_ADAUSD         328    -0.07706        4      16  MA_4_16
2  PF_ADAUSD         282    -0.00192        8      16  MA_8_16
3  PF_ADAUSD         203    -0.06403        4      32  MA_4_32
4  PF_ADAUSD         170     0.03495        8      32  MA_8_32

In [6]:
ma_test_res.columns

Index(['symbol', 'num_trades', 'total_gain', 'mean_gain', 'min_gain',
       'max_gain', 'mashort', 'malong'],
      dtype='object')

In [7]:
ma_test_res = ma_test_res[['symbol', 'num_trades', 'total_gain', 'mashort', 'malong']]

In [9]:
ma_test_res["CROSS"] = "MA_" + ma_test_res.mashort.map(str) + "_" + ma_test_res.malong.map(str)

In [13]:
df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

/var/folders/49/mq4l8v1j6gsd30r9hq2_mtfc0000gn/T/ipykernel_18110/1300193441.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_all_gains = ma_test_res.groupby(by=["CROSS", "mashort", "malong"], as_index=False).sum()

In [15]:
df_all_gains.sort_values(by="total_gain", ascending=False, inplace=True)

In [21]:
df_all_gains

        CROSS  mashort  malong  num_trades    total_gain
23   MA_64_96       64      96         391  11011.049017
21  MA_64_128       64     128         267   8814.145187
11  MA_32_256       32     256         168   8655.245934
10  MA_32_128       32     128         320   7308.194419
25    MA_8_16        8      16        2660   7277.189453
26   MA_8_256        8     256         354   5460.853849
6   MA_24_256       24     256         198   4862.557715
5   MA_24_128       24     128         345   4689.307313
16   MA_4_256        4     256         460   4607.771257
1   MA_16_256       16     256         248   3615.679172
0   MA_16_128       16     128         417   2765.499006
13   MA_32_96       32      96         419   2688.883507
12   MA_32_64       32      64         617   2404.450606
3    MA_16_64       16      64         703    967.718832
8    MA_24_64       24      64         627    909.313236
27    MA_8_32        8      32        1508    877.111184
22  MA_64_256       64     256         144    848.513833
15    MA_4_16        4      16        3045    556.061271
28    MA_8_64        8      64         883    298.334414
14   MA_4_128        4     128         814     -7.875100
9    MA_24_96       24      96         464    -87.523619
19     MA_4_8        4       8        5293   -298.914414
4    MA_16_96       16      96         540   -614.848890
2    MA_16_32       16      32        1305  -1493.209686
18    MA_4_64        4      64        1250  -1509.832642
17    MA_4_32        4      32        1906  -2062.028820
24   MA_8_128        8     128         560  -2423.463612
20    MA_4_96        4      96         944  -3687.189783
29    MA_8_96        8      96         684  -4851.101565
7    MA_24_32       24      32        1506  -5967.817635

In [24]:
good_list = []

for cross in df_all_gains.CROSS.unique():
    df_temp = ma_test_res[ma_test_res.CROSS == cross]
    total_s = df_temp.shape[0]
    n_good = df_temp[df_temp.total_gain>0].shape[0]
    if (n_good/total_s) > 0.6:
        good_list.append(cross)
    print(f"{cross:12} {n_good:4} {(n_good/total_s)*100:4.0f}%")

print(good_list)

MA_64_96        9  100%
MA_64_128       7   78%
MA_32_256       6   67%
MA_32_128       8   89%
MA_8_16         3   33%
MA_8_256        4   44%
MA_24_256       5   56%
MA_24_128       7   78%
MA_4_256        5   56%
MA_16_256       5   56%
MA_16_128       8   89%
MA_32_96        7   78%
MA_32_64        7   78%
MA_16_64        7   78%
MA_24_64        8   89%
MA_8_32         6   67%
MA_64_256       5   56%
MA_4_16         4   44%
MA_8_64         7   78%
MA_4_128        6   67%
MA_24_96        6   67%
MA_4_8          2   22%
MA_16_96        6   67%
MA_16_32        4   44%
MA_4_64         4   44%
MA_4_32         3   33%
MA_8_128        6   67%
MA_4_96         4   44%
MA_8_96         6   67%
MA_24_32        4   44%
['MA_64_96', 'MA_64_128', 'MA_32_256', 'MA_32_128', 'MA_24_128', 'MA_16_128', 'MA_32_96', 'MA_32_64', 'MA_16_64', 'MA_24_64', 'MA_8_32', 'MA_8_64', 'MA_4_128', 'MA_24_96', 'MA_16_96', 'MA_8_128', 'MA_8_96']